body {
    background-color: rgb(124, 165, 200)
}

h1 {
    text-align: center;
    color: navy;
    flex-direction: row;
    justify-content: center;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

h2 {
    color: darkblue
}

ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    width: 70px;
    border: 1px;
}

li {
    display: inline;
    color: navy;
    font-size: larger;
}
.topnav ul {
    flex-direction: row;
}
.topnav a:link {
    color: white;

}
.topnav a:hover {
    color: #000;
}

.topnav a.a:active {
    background-color: green;
    color: yellow;
}

.website {
    background-color: purple;
    color: aliceblue;
    flex-direction: column;
    justify-content: flex-end;
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    color: aliceblue;
    flex-direction: column;
    justify-content: flex-end;

}

.Creative-Work {
    background-color: blueviolet;
    color: aliceblue;
    flex-direction: column;
    justify-content: flex-end;  
}

.footer {
    color: navy;
    text-align: center;
}

.images {
    color: #000;
}

@media screen and (max-width: 657px) {
}

