/*-- General Style --*/
:root 


body {
    background-color: beige; 
}


/*---Header begins here---*/

h1 {
    text-align: left;
    color: #6b360f;
    flex-direction: row;
    justify-content: center;
}


h2 {
    color: #6b360f;
}

/*-- Nav begins here --*/

ul {
    list-style: none;
    margin: 0 ;
    padding: 0;
}

li {
    display: inline;
    color: #6b360f;
    font-size: larger;
}

.topnav a:link {
    color: white;

}
.topnav a:hover {
    color: #000;
}

.topnav a.a:active {
    background-color: green;
    color: yellow;
}


/*-- Content begins here --*/

body div {
    width: 300px ;
    height: 100px;
    padding: 15px;
    background-color: beige;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

/*-- Footer begins here --*/

.footer {
    color: navy;
    text-align: center;
}

.images {
    color: #000;
}

@media screen and (max-width: 657px) {
    body {
        background-color: beige;
    }
}

